<div *ngIf="expedition" class="container">
  <h1>{{expedition.name}}</h1>

  <p *ngIf="!monsters.length">No monsters related?!</p>

  <app-link-list [links]="monsters"></app-link-list>
</div>

<div *ngIf="!expedition" class="container">
  <h1>Expeditions</h1>

  <p *ngIf="!expeditions.length">No expeditions found?!</p>

  <app-link-list [links]="expeditions"></app-link-list>
</div>
