<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link bg-light m-1"
    *ngFor="let drop of drops"
    routerLink="/drops/{{drop.id}}">

    <span>{{drop.name}} {{drop.lowrank|stars}}</span>

    <span *ngIf="drop.highrank">({{drop.highrank|stars}})</span>

    <small *ngIf="drop.anatomy || drop.injury" class="text-muted">
      <br>{{drop.anatomy?.name}} {{drop.injury?.verb}}
    </small>
  </a>
</nav>
