<div *ngIf="monster" class="container">
  <h1>{{monster.name}}</h1>

  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link m-1 bg-light"
      routerLink="{{monster.size.url()}}">{{monster.size.label()}}</a>

    <a *ngIf="monster.type" class="nav-item nav-link m-1 bg-light"
      routerLink="{{monster.type.url()}}">{{monster.type.label()}}</a>
  </nav>

  <h2>Attacks</h2>

  <nav class="nav nav-pills nav-fill">
    <span *ngIf="!monster.attacks.length" class="nav-item nav-link m-1 bg-light">Physical</span>

    <span *ngFor="let attack of monster.attacks" class="nav-item nav-link m-1 bg-light">{{attack.name}}</span>
  </nav>

  <div class="position-relative">
    <button type="button" class="help-toggle btn btn-link text-muted"
      [ngClass]="{ 'd-none': help }"
      (click)="toggleHelp()"><small>Click for info on ** (**)</small></button>

    <button type="button" class="help-toggle btn btn-link text-muted"
      [ngClass]="{ 'd-none': !help }"
      (click)="toggleHelp()">

      <small class="mr-2">Close info</small>
      <span class="btn-sm btn-default bg-light">&times;</span>
    </button>
  </div>

  <h2>Weaknesses</h2>

  <section class="help row position-relative"
    [ngClass]="{ 'd-none': !show.help }">

    <div class="col-sm">
      <h3 class="px-2">** (**) For Elements / Anatomy</h3>

      <p class="px-2">
        <code>&nbsp;&nbsp;x&nbsp;&nbsp;</code> means resistance
        <br><code>&nbsp;&nbsp;*&nbsp;&nbsp;</code> means weakness
        <br><code>(&nbsp;x&nbsp;)</code> means secondary form resistance
        <br><code>(&nbsp;*&nbsp;)</code> means secondary form weakness
      </p>
    </div>

    <div class="col-sm">
      <h3 class="px-2">** (**) For Carves / Rewards</h3>

      <p class="px-2">
        <code>&nbsp;&nbsp;*&nbsp;&nbsp;</code> means low rank frequency
        <br><code>(&nbsp;*&nbsp;)</code> means high rank frequency
      </p>
    </div>
  </section>

  <div class="row position-relative">
    <!-- <button type="button" class="help-toggle btn btn-link text-muted"
      (click)="toggleHelp()"><small>Click for info on ** (**)</small></button> -->

    <div class="col">
      <p *ngIf="!monster.elements.length" class="empty-collection px-1 text-muted">
        No element weaknesses found</p>

      <app-monsters-damage
        [damages]="monster.elements"></app-monsters-damage>
    </div>

    <div class="col">
      <p *ngIf="!monster.ailments.length" class="empty-collection px-1 text-muted">
        No ailment weaknesses found</p>

      <app-monsters-damage
        [damages]="monster.ailments"></app-monsters-damage>
    </div>
  </div>

  <h2>Anatomy</h2>

  <p *ngIf="!monster.anatomy.length" class="empty-collection px-1 text-muted">
    No anatomy found</p>

  <app-monsters-anatomy
    [anatomy]="monster.anatomy"></app-monsters-anatomy>

  <hr>

  <h2>Expeditions</h2>

  <app-link-pills
    [links]="monster.expeditions"></app-link-pills>

  <section class="row position-relative">
    <div class="col-md">
      <h2>Carves</h2>

      <p *ngIf="!monster.carves.length" class="empty-collection px-1 text-muted">
        No carves found</p>

      <app-monsters-drop
        [drops]="monster.carves"></app-monsters-drop>
    </div>

    <div class="col-md">
      <h2>Rewards</h2>

      <p *ngIf="!monster.rewards.length" class="empty-collection px-1 text-muted">
        No rewards found</p>

      <app-monsters-drop
        [drops]="monster.rewards"></app-monsters-drop>
    </div>
  </section>

  <hr>
</div>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<div *ngIf="!monster" class="container">
  <h1>Monsters</h1>

  <app-searchable
    [items]="cache"
    [filter]="searchable"
    (filtered)="searched($event)">

    <div class="input-group-prepend">
      <!-- <button class="btn btn-outline-secondary" type="button"
        (click)="toggleFilters()">{{show.filters ? '&times;' : '&equiv;'}}</button> -->
      <button class="btn btn-outline-secondary" type="button"
        (click)="toggleFilters()">{{show.filters ? 'Close' : 'Filters'}}</button>
    </div>
  </app-searchable>

  <section class="position-relative"
    [ngClass]="{ 'd-none': !show.filters }">

    <h2>Filters</h2>

    <div class="row">
      <div class="col">
        <app-link-pills
          [class]="'flex-column'"
          [active]="filter"
          [links]="sizes"></app-link-pills>
      </div>

      <div class="col">
        <app-link-pills
          [active]="filter"
          [links]="types"></app-link-pills>
      </div>
    </div>
  </section>

  <div class="position-relative mb-4 mt-4">
    <h2>{{filter?.name}} Monsters</h2>
    <a routerLink="/monsters" class="btn btn-secondary"
      [ngClass]="{ 'd-none': filter.id === 'large' }"
      [ngStyle]="{
        'position': 'absolute',
        'right': 0,
        'top': '-0.5rem'
      }">Clear Filter</a>
  </div>

  <app-link-list
    [links]="monsters"></app-link-list>
</div>
