<div *ngIf="type" class="container">
  <h1>Monster Type: {{type.name}}</h1>

  <p *ngIf="!monsters.length">No research found?!</p>

  <app-link-list
    [links]="monsters"></app-link-list>
</div>

<div *ngIf="!type" class="container">
  <h1>Monster Types</h1>

  <p *ngIf="!types.length">No research found?!</p>

  <app-link-list
    [links]="types"></app-link-list>
</div>
