<div *ngIf="size" class="container sizes sizes-one">
  <h1>{{size.name}} Monsters</h1>

  <p *ngIf="!monsters.length">No {{size.name|lowercase}} monsters found?!</p>

  <app-link-list [links]="monsters"></app-link-list>
</div>

<!-- Fallback for old sizes listing -->
<div *ngIf="!size" class="container sizes sizes-all">
  <p *ngIf="!sizes.length" class="alert alert-danger">No sizes found?!</p>
  
  <app-link-list [links]="sizes"></app-link-list>
</div>
