.sizes {
  &.sizes-all {
    // background-color: rgba(255, 0, 0, .2);
  }

  &.sizes-one {
    // background-color: rgba(0, 255, 0, .2);
  }

  &-nav {
    // background-color: rgba(0, 0, 255, .2);

    & &-item {
      // margin: 5px;
      // background-color: rgba(255, 0, 255, .2);
      border-top: 1px solid #ddd;
      padding: 1rem;
    }
  }
}
