<nav class="mb-2 navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand"
      (click)="closeNav()">Hunter's Notes</a>

    <button class="navbar-toggler" type="button"
      (click)="toggleNav()">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
      [ngbCollapse]="nav.collapse">

      <div class="navbar-nav ml-auto text-center">
        <a routerLink="/monsters" class="nav-item nav-link"
          (click)="closeNav()">Monsters</a>

        <a routerLink="/drops" class="nav-item nav-link"
          (click)="closeNav()">Carves / Rewards</a>

        <a routerLink="/expeditions" class="nav-item nav-link"
          (click)="closeNav()">Expeditions</a>

        <a routerLink="/search" class="nav-item nav-link"
          (click)="closeNav()">Search</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
