@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.navbar-nav {
  .nav-item {
    @include media-breakpoint-only(xs) {
      padding: 1rem;
    }

    @include media-breakpoint-up(sm) {
      border-left: 1px solid #ddd;
      padding-left: 1rem;
      margin-left: 1rem;

      &:first-child {
        border: none;
      }
    }
  }
}
