<div class="row">
  <div *ngFor="let limb of anatomy" class="col">
    <div class="card mb-4">
      <h3 class="card-header mt-0"
        [ngClass]="{ 'border-bottom-0': !limb.weakness.length }">

        {{limb.name}} <small *ngIf="limb.breaks">({{limb.breaks.name}})</small>
      </h3>

      <ul class="list-group list-group-flush">
        <li *ngFor="let damage of limb.weakness" class="list-group-item">
          <strong class="monsters-damage-name">{{damage.name}}</strong>

          <span *ngIf="damage.primary" class="monsters-damage-primary">: {{damage.primary|stars}}</span>

          <span *ngIf="damage.secondary" class="monsters-damage-secondary"> ({{damage.secondary|stars}})</span>
        </li>
      </ul>
    </div>
  </div>
</div>
