

// .link-row {
//   background-color: rgba(255, 255, 255, .5);
//   margin-right: -15px;
//   margin-left: -15px;
//   padding-bottom: 10px;
//   padding-top: 10px;
//   position: relative;
//
//   p {
//     margin: 0;
//     padding: 0;
//   }
//
//   > .col,
//   > [class*="col-"] {
//     padding-right: 0;
//     padding-left: 0;
//   }
//
//   .link-row-start {
//     padding-left: 15px;
//   }
//
//   .link-row-end {
//     padding-right: 15px;
//
//     &::before {
//       display: block;
//       content: "";
//       position: absolute;
//       height: 1em;
//       top: 50%;
//       transform: translateY(-50%);
//       border-left: 1px solid #ddd;
//       left: -10px;
//     }
//   }
//
//   > a {
//     $pad: 5px;
//
//     border: 1px solid #ddd;
//     top: $pad;
//     right: $pad;
//     bottom: $pad;
//     left: $pad;
//     display: block;
//     position: absolute;
//     z-index: 10;
//
//     &::before,
//     &::after {
//       // display: block;
//       // position: absolute;
//       // content: "";
//       // border-top: 1px solid #ddd;
//       // width: 10rem;
//       // left: 50%;
//       // transform: translateX(-50%);
//     }
//
//     &::before {
//       // top: 0;
//     }
//
//     &::after {
//       // bottom: 0;
//     }
//   }
// }
