<div class="container">
  <p>Web based version of the Hunter's Notes from Monster Hunter World.</p>

  <app-link-row link="/monsters">
    <h3 class="mt-0">Monsters</h3>

    <p class="m-0">List of monsters by size and type.</p>
  </app-link-row>

  <app-link-row link="/drops">
    <h3 class="mt-0">Carves and Rewards</h3>

    <p class="m-0">List of carves and rewards from monster hunts.</p>
  </app-link-row>

  <app-link-row link="/expeditions">
    <h3 class="mt-0">Expeditions</h3>

    <p class="m-0">List of expeditions and their related monsters.</p>
  </app-link-row>

  <app-link-row link="/search">
    <h3 class="mt-0">Search</h3>

    <p class="m-0">An easy way of finding the information you need.</p>
  </app-link-row>

  <hr>

  <h2>Alpha Release</h2>

  <p>This project is still being worked on and has missing data on small and endemic monsters. Once it's more stable, I'll open up the GitLab
    <a href="https://gitlab.com/enom/huntersnotes">repo</a> for those who want to help.
  </p>
</div>
