<ul class="list-group">
  <li *ngFor="let damage of damages" class="list-group-item">
    <strong class="">{{damage.name}}</strong>

    <span *ngIf="damage.primary">: {{damage.primary|stars}}</span>

    <span *ngIf="damage.secondary"> ({{damage.secondary|stars}})</span>
  </li>
</ul>
