/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

#breakpoint {
  display: block;
  position: fixed;
  top: .25em;
  left: .25em;
  height: 2em;
  width: 2em;
  border: 1px solid red;
  text-align: center;
  color: red;
  z-index: 9999;
}

h1 {
  font-size: 1.3rem;
  margin: 20px 0 10px;
}

h2 {
  font-size: 1.1rem;
  margin: 20px 0 10px;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}

html {
  overflow-y: scroll;
}
