<div class="container">
  <h1>Search</h1>

  <div class="input-group">
    <input type="text" class="form-control form-control-lg" placeholder="Search here..."
      #vc [formControl]="fc">

    <div class="input-group-append">
      <button class="btn btn-default"
        (click)="clear(true)">Clear</button>
    </div>
  </div>

  <section *ngIf="searching">
    <h2>Monsters</h2>

    <p *ngIf="!monsters.length">No matching monsters.</p>

    <app-link-list
      [links]="monsters"></app-link-list>
  </section>

  <section *ngIf="searching">
    <h2>Carves / Rewards</h2>

    <p *ngIf="!drops.length">No matching carves / rewards.</p>

    <app-link-list
      [links]="drops"></app-link-list>
  </section>
</div>
