<div *ngIf="drop" class="container">
  <h1>{{drop.name}}</h1>

  <p *ngIf="monsters.length">Dropped by:</p>
  <p *ngIf="!monsters.length">No monsters related to this drop?!</p>

  <app-link-list
    [links]="monsters"></app-link-list>
</div>

<div *ngIf="!drop" class="container">
  <app-search></app-search>

  <h1>Carves / Rewards</h1>

  <p *ngIf="!drops.length">No carves or rewards found?!</p>

  <app-link-list
    [links]="drops"></app-link-list>
</div>
