<div class="row my-3 p-1 py-2 align-items-center">
  <a routerLink="{{link}}"></a>

  <div class="col">
    <ng-content></ng-content>
  </div>

  <div class="col-auto">
    <button class="btn btn-link border-left">View</button>
  </div>
</div>
