<nav class="nav nav-pills nav-fill {{class}}">

  <a *ngFor="let link of links" class="nav-item nav-link m-1"
    [ngClass]="{
      'active': link.id === active.id,
      'bg-light': link.id !== active.id
    }"
    routerLink="{{link.url()}}">{{link.label()}}</a>
</nav>
