<div class="container">
  <div class="input-group">
    <ng-content select=".input-group-prepend"></ng-content>

    <input type="text" class="form-control form-control-lg border-secondary" placeholder="Search here..."
      #element [formControl]="control">

    <div class="input-group-append">
      <button class="btn btn-outline-secondary"
        (click)="clear()">Clear</button>
    </div>
  </div>
</div>
